* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5cb42;
    color: #e2ece9;
    font-family: 'Gemunu Libre', sans-serif;
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: #343aeb;
    ;
}

.main input {
    width: 10rem;
    padding: 0.5rem 1rem;
    outline: none;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#show-btn {
    margin-top: 0.5rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 2rem;
    cursor: pointer;
    font-family: 'Gemunu Libre', sans-serif;
}

#show-btn:hover {
    background-color: #dfe7fd;
}

#output {
    margin-top: 1rem;
    color: #343aeb;
    font-size: larger;
}